* {
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100vw;
    display : flex;
    justify-content: center;
    align-items: center;
}

.hero-section{
    width: 75vw;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

/*logo*/
.logo-img-display{
    height: 15rem;
    width: 100%;
}

.logo-txt{
    text-align: center;
}

/*login card*/
.login-card{
    height: 50vh;
    width: 50vw;
    border-radius: 30px;
    background-color: #E2D1C3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-txt{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1.8rem;
    margin-bottom: 40px;
}

.signup{
    text-align: center;
    font-family: finlandica;
    font-size: 1.2rem;
    margin-top: 30px;
}

.signup a{
    color: #0000EE!important;
    text-decoration: underline !important;
}

/*inside form*/
.type-box{
    width: 40vw;
    height: 7.1vh;
}

button{
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    background: transparent;
    padding: 0;
    font-size:inherit;
    font-family: inherit;
}

button.login{
    width: 10rem;
    height: auto;
    margin-top: 8px;
}

button.login .circle{
    transition: all 0.45s cubic-bezier(0.075, 0.82, 0.165, 1);
    position: relative;
    display: block;
    margin: 0;
    width:2.5rem;
    height: 2.5rem;
    background: #403e37;
    border-radius: 1.25rem;
}

button.login .circle.icon{
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

button.login .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.5rem;   /* Slightly reduced */
    width: 0.9rem;  /* Reduced width */
    height: 0.1rem; /* Reduced height */
    background: none;
}

button.login .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: 1.05rem;  /* Adjusted for smaller arrow */
    right: 1.28rem; /* Adjusted for smaller arrow */
    width: 0.5rem;  /* Reduced size */
    height: 0.5rem; /* Reduced size */
    border-top: 0.1rem solid #fff;
    border-right: 0.1rem solid #fff;
    transform: rotate(45deg);
}

button.login .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.65rem 0;  /* Reduced padding */
    margin: 0 0 0 1.5rem; /* Adjusted margin */
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

button:hover .circle {
    width: 100%;
}

button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(0.8rem, 0); /* Adjusted translate */
}

button:hover .button-text {
    color: #fff;
}
