<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nrutyashree Dance Academy</title>
  <link rel="stylesheet" href="../stylesheets/comingsoon.css">
  <link rel="icon" type="image/x-icon" href="../images/nda-favicon-v2.png">
</head>
<body>
    <div class="container">
        <div class="content">
            <img src="../images/natraj-logo.png" alt="chai logo" class="logo">
            <h1>Coming Soon</h1>
            <p>We're working hard to bring something amazing.
                Stay tuned!</p>
                <form id="notify-form" method="post" action="/enrolled">
                    <input type="email" name="email" id="email" placeholder="Enter your Email" required>
                    <button type="submit">Notify Me</button>
                </form>
        </div>
    </div>
</body>
</html>