<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Gateway</title>
    <link rel="stylesheet" href="../stylesheets/paynow.css">
</head>
<body>
    <div class="box">
        <img src="../images/nda-favicon-v2.png" alt="logo" class="logo">
    <form action="/paynow" method="post">
            <input type="text" class="name" id="name" placeholder="Enter Your Name">
            <br>
            <input type="email" class="email" id="email" placeholder="Enter Your Email">
            <br>
            <input type="number" class="number" id="number" placeholder="Enter Your Mobile Number">
            <br>
            <input type="number" class="amount" id="amount" placeholder="Enter Amount">
            <br>
            <input type="text" class="course-name" id="course-name" placeholder="Enter Course-Name">
            <br>
            <button type="submit" class="btn">Proceed to Pay</button>        
      </form>
    </div>
</body>
</html>