* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(#E2D1C3 0%, #FDFCFB 100%);
}
.navbar {
    background-color: #060C27;
    
   
}



.logo {
    display: flex!important;
    align-items: center;
    position: relative;
    align-self: flex-start;
}
.logo-img>img {
    height: 7rem;
    width: auto;
    margin-right: 0;
}

.logo-txt {
    
}
.logo-txt #txt1 {
    margin-bottom: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.7rem;
    color: #E6B206;
    
} 

.logo-txt #txt2 {
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(227, 227, 227);
}

.btn {
    background-color: white!important;
    
   
}